{% extends "base.html" %}

{% block title %}
Home
{% endblock %}

{% block breadcrumbs %}
<li class="active">Assessments</li>
{% endblock %}

{% block head %}
<style>
.folder {
  border-top: 1px solid rgb(220,220,220);
  padding: 10px 5px;
}
  .folder .glyphicon {
    margin-right: 10px;
  }
  .action {
    margin-left: 1em;
    color: #777;
    cursor: pointer;
    font-size: 13px;
    display: none;
  }
    h2:hover .action, h3:hover .action {
      display: inline-block;
    }
  h2 { font-size: 115%; font-weight: bold; margin: 1em 0; }
  h3 { font-size: 100%; font-weight: bold; margin: 0; }
  h2 .label, h3 .label { margin-left: .75em; font-size: 12px; }
  .folder .project h2 { margin: 0; }
  .folder a:hover { text-decoration: none; }
  .folder a:hover span { text-decoration: underline; }
  .folder a:hover span.glyphicon { text-decoration: none; }

.project {
  padding: .75em;
  }
  .project:hover{
    background-color: rgb(240,240,240);
    border-radius: 8px;
  }
  .project h3 a .glyphicon {
    margin-right: 10px;
    color: black;
  }
.project .small {
  color: rgb(90,90,90);
}

.btn .glyphicon { margin-right: 6px; }
.btn.btn-success .glyphicon { color: #FFF; }

</style>
{% endblock %}

<!-- Remove contextbar from top of page -->
{% block contextbar %}{% endblock %}

<!-- Remove folderlist from left of page -->
{% block folderlist %}{% endblock %}

{% block body %}

<div id="primary-content" class="col-md-10 pull-right"><!-- primary-content w/o folder list -->

<div style="float: right; margin-top: 1em">
  <a id="new-folder" href="#" class="btn btn-default" onclick="new_folder(); return false;"><i class="glyphicon glyphicon-folder-open"></i> New Folder</a>
  <a id="new-assessment" href="/assessment-catalog" class="btn btn-success"><i class="glyphicon glyphicon-list-alt"></i> Add app to project folder</a>
</div>

<h1>Project Folders</h1>

{% if folders|length == 0 %}
  <p>Start by beginning your first assessment.</p>
{% endif %}

<div id="folder-list">

<!-- List folders -->
{% for folder in folders %}
<div class="folder" data-folder-id="{{folder.id}}">
  <h2>
    <a href="/folder/{{folder.title}}" style="color:black;">
      <span class="glyphicon glyphicon-folder-open"></span>
      <span class="folder_name">{{folder.title}}</span>
    </a>
    {% if folder.is_admin %}
    <span class="action" onclick="rename_folder(this);"><span class="glyphicon glyphicon-pencil"></span></span>
    {% if folder.accessible_projects|length == 0 %}
      <span class="action" onclick="delete_folder(this);"><span class="glyphicon glyphicon-remove"></span></span>
    {% endif %}
    {% endif %}
  </h2>


</div>
{% endfor %}

</div> <!--/folders-->

<div id="new-folder-template" style="display: none">
<div class="folder" data-folder-id="">
  <h2>
    <span class="glyphicon glyphicon-folder-open"></span>
    <span class="folder_name"></span>
    <span class="action" onclick="rename_folder(this);"><span class="glyphicon glyphicon-pencil"></span></span>
    <span class="action" onclick="delete_folder(this);"><span class="glyphicon glyphicon-remove"></span></span>
  </h2>
</div>
</div>


</div><!-- /primary-content w/o folder list -->

{% endblock %}

{% block scripts %}
<script>
function new_folder() {
  ajax_with_indicator({
   url: '{% url "new_folder" %}',
   method: "POST",
   data: {
    // could add title: later
   },
   success: function(res) {
    var node = $('#new-folder-template > div').clone();
    node.data("folder-id", res.id);
    node.find("h2 .folder_name").text(res.title);
    node.hide();
    $('#folder-list').prepend(node);
    node.slideDown();
   }
  });
}
function rename_folder(elem) {
  var folder = $(elem).parents(".folder");
  var folder_id = folder.data("folder-id");
  var folder_name = folder.find(".folder_name");
  var new_title = prompt("Rename this folder?", folder_name.text());
  if (!new_title) return;
  ajax_with_indicator({
   url: '{% url "rename_folder" %}',
   method: "POST",
   data: {
    folder: folder_id,
    title: new_title
   },
   success: function() {
     folder_name.text(new_title);
   }
  });
}
function delete_folder(elem) {
  var folder = $(elem).parents(".folder");
  var folder_id = folder.data("folder-id");
  ajax_with_indicator({
   url: '{% url "delete_folder" %}',
   method: "POST",
   data: {
    folder: folder_id
   },
   success: function() {
     folder.slideUp(function() { folder.remove(); });
   }
  });
}

function rename_project(elem) {
  var project = $(elem).parents(".project");
  var old_title = project.find('.project_title').text();
  var new_title = prompt("Rename this assessment?", old_title);
  if (!new_title || new_title == old_title) return false;
  ajax_with_indicator({
   url: 'projects/' + project.data("project-id") + '/__rename',
   method: "POST",
   data: {
    title: new_title
   },
   success: function() {
     project.find('.project_title').text(new_title);
   }
  });
  return false;
}
</script>
{% endblock %}